<div class="row">
    <div class="col-6">
        <app-dona 
            [title]="'Ventas'"
            [labels]="['maincra', 'fornite', 'lig of leyends']"
            [data]="[100, 90, 450]"
            [backgroundColor]="['#f44336', '#ffd966', '#16537e']">
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona 
            [title]="'Compras'">
        </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona 
            [title]="'Cambios'">
        </app-dona>
    </div>
    <div class="col-6">
        <app-dona 
            [title]="'Beneficios'">
        </app-dona>
    </div>
</div>