<div class="input-group">
    <span class="input-group-btn">
        <button (click)="changeProgressValue(-5)" [ngClass]="btnClass" type="button">
            <i class="fa fa-minus"></i>
        </button>
    </span>

    <input type="number" 
        class="form-control"
        [ngClass]="{'is-invalid': progressBar > 100 || progressBar < 0}"
        placeholder="Progress" 
        min="0" 
        max="100"
        (ngModelChange)="onChange($event)" 
        [(ngModel)]="progressBar">

    <span class="input-group-btn">
        <button (click)="changeProgressValue(5)" [ngClass]="btnClass" type="button">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>